.first-header{
    justify-content: center;
    width: 700;
    color: aliceblue;
    width: 460px;
    text-align: center;
    margin-left: 650px;
    
}
.header-dis{
    text-align: center;
    font-size: 18px;
     font-weight: 400px;
     line-height: 28px;
}
.header-about{
margin-left:520px;
width: 700px;
color: aliceblue;
}
.banar{
    background-image:url(../images/donation13.jpg);
    background-size: 100%;
height: 600px;
padding-top: 300px;

}
.btn{
    justify-content: center;
    margin-left: 800px;
   
}
.first-btn{
    height:56px;
    width: 160px;
    background-color: brown;
    font-weight: 600;
    font-size: 24px;
color: aliceblue;
border: none;
}
.second-header{
    height: 20px;
    width: 700px;
    width: 304px;
margin-left: 750px;
margin-top: 150px;
    

}
.donate-now{
text-align: center;
    width: 400px;
    margin-left: 650px;
    justify-content: center;
}
.amount{

    display: flex;
justify-content:space-evenly;
border: 25px;
height: 25px;

}
.btn1{
    height:40px;
     width: 100px;
    margin-top: 49px;
    border: none;
    background-color: rgb(247, 200, 166); 
}
.btn2{
    height:40px;
    width: 100px;
    margin-top: 49px;
    background-color: rgb(247, 200, 166); 
    border: none;
}
.btn3{
    height:40px;
    width: 100px;
    margin-top: 49px;
    border: none;
    background-color: rgb(247, 200, 166); 
}
.btn4{
    height:40px;
    width: 100px;
    margin-top: 49px;
    border: none;
    background-color: rgb(247, 200, 166); 
}
.btn5{
    height:40px;
    width: 100px;
    margin-top: 49px;
    border: none;
    background-color: rgb(247, 200, 166); 
}